.flashcardBtn {
  background-color: tan;
}

.flashcardBtn:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.homeBtn:hover {
  cursor: pointer
}

.registerBtn:hover {
  cursor: pointer
}

.loginBtn:hover {
  cursor: pointer
}